.appetizer {
    width: 100%;
    height: auto;

}

.appetizerWrapper {
    width: 45%;
    display: inline-block;
    margin-left: 3%;
}

.appetizerWord {
    display: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 10%;
    margin-left: 8%;
    font-size: 50px;
}

.appetizerWrapper:hover .appetizerWord {
    display: block;
}

.appetizer:hover {
    opacity: .3;
}

.boilerplateWrapper {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
}

.boilerplate{
    width: 100%;
    height: auto;

}

.boilerplateWord {
    display: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 10%;
    margin-left: 9%;
    font-size: 50px;
}

.boilerplateWrapper:hover .boilerplateWord {
    display: block;
}

.boilerplate:hover {
    opacity: .3;
}



/* Animation */
.anim-boilerplates {
  animation: typewriter-boilerplates 3s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-boilerplates{
  from{width: 0;}
  to{width: 7em;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
