span {
    color: #BC6663;
}
#menuWrapper {
    width: 100%;
    text-align: center;
}

.appetizerWrapper {
    width: 40%;
    text-align: center;
    height: 350px;
    display: inline-block;
    margin: 3%;
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,.75);
    background-image: url('/images/appetizer.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.appetizerWord {
    visibility: hidden;
    z-index: 1;
    position: relative;
    font-size: 3em;
    color: rgba(255,255,255);
    top: 40%;
}

.appetizerWrapper:hover .appetizerWord {
    visibility: visible;
}

.appetizerWrapper:hover {
    cursor: pointer;
    opacity: .75;
}

.boilerplateWrapper {
    width: 40%;
    height: 350px;
    display: inline-block;
    text-align: center;
    margin: 3%;
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,.75);
    background-image: url('/images/cheeseburger.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.boilerplateWord {
    visibility: hidden;
    z-index: 1;
    position: relative;
    font-size: 3em;
    color: rgba(255,255,255);
    top: 40%;
}

.boilerplateWrapper:hover .boilerplateWord {
    visibility: visible;
}

.boilerplateWrapper:hover {
    cursor: pointer;
    opacity: .75;
}



/* Animation */
.anim-boilerplates {
  animation: typewriter-boilerplates 3s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-boilerplates{
  from{width: 0;}
  to{width: 8em;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
