span {
    color: #BC6663;
}

#contactUsContainer {
    margin: 0 auto;
}

#formio {
    z-index: 1;
    /* position: absolute; */
    width: 50%;
    margin-left: 27%;
    /* margin-top: 2%; */
}

#contactBtn {
    text-align: center;
    cursor: pointer;
    color: rgba(255,255,255,.25);
}

.anim-contact {
  animation: typewriter-contact 3s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-contact{
  from{width: 0;}
  to{width: 9em;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
