
#container {
    font-size: 1.5em;
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: 15%;
}

#homepageLink {
    position: relative;
    padding-right: 6%;
    opacity: 0;
}

#readMeLink {
    position: relative;
    opacity: 0;
}

#theVarLink {
    position: relative;
    padding-right: 9%;
    opacity: 0;
}

#foodMenuLink {
    position: relative;
    padding-right: 6%;
    opacity: 0;
}

#ContactLink {
    position: relative;
    padding-right: 8%;
    opacity: 0;
}
