
navbar {
    font-size: 50px;
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
}

#homepageLink {
    color: rgba(255,255,255,.75);
}

#readMeLink {
    color: rgba(255,255,255,.75);
}

#theVarLink {
    color: rgba(255,255,255,.75);
}

#foodMenuLink {
    color: rgba(255,255,255,.75);
}

#ContactLink {
    color: rgba(255,255,255,.75);
}

@media screen and (max-width: 415px) {
    navbar {
        width: 100%;
        font-size: 15px;
        margin: 5px;
    }
}
