
/* Global */
html{
  min-height: 100%;
  overflow: scroll;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 5% auto 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
  }

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.imageWrapper {
    text-align: center;
    width:100%;

}

#newbarPic {
    position: relative;
    width:50%;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

#winePic {
    position: relative;
    display: inline;
    width:15%;
    border-radius: 10px;
}

#cheersPic {
    position: relative;
    width: 15%;
    display: inline;
    border-radius: 10px;
}
