h1 {
    margin-left: 5%;
}

 #readMeText {
    color: rgba(255,255,255,.25);;
}

.anim-readme {
  animation: typewriter-contact 3s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-readme{
  from{width: 0;}
  to{width: 9em;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
