span {
    color: #BC6663;
}

.specialityPic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,.75);
}

.specialityWrapper {
    width: 45%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 5%;
}

.specialityWord {
    display: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 9%;
    margin-left: 3%;
    font-size: 50px;
}

.specialityWrapper:hover .specialityWord {
    display: block;
}

.specialityPic:hover {
    opacity: .3;
    cursor: pointer;
}

.aleWrapper {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
}

.alePic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,.75);

}

.aleWord {
    display: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 9%;
    margin-left: 9%;
    font-size: 50px;
}

.aleWrapper:hover .aleWord {
    display: block;
}

.alePic:hover {
    opacity: .3;
    cursor: pointer;
}


/* Animation */
.anim-var {
  animation: typewriter-var 2s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-var{
  from{width: 0;}
  to{width: 6em;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
