span {
    color: #BC6663;
}
#varWrapper {
    width: 100%;
    text-align: center;
}

.specialityWrapper {
    width: 40%;
    /* text-align: center; */
    height: 350px;
    display: inline-block;
    margin: 3%;
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,.75);
    background-image: url('/images/garnisheddrink.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.specialityWord {
    visibility: hidden;
    z-index: 1;
    position: relative;
    font-size: 3em;
    color: rgba(255,255,255);
    top: 40%;
}

.specialityWrapper:hover .specialityWord {
    visibility: visible;
}

.specialityWrapper:hover {
    cursor: pointer;
    opacity: .75;
}

.aleWrapper {
    width: 40%;
    height: 350px;
    display: inline-block;
    /* text-align: center; */
    margin: 3%;
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,.75);
    background-image: url('/images/beer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.aleWord{
    visibility: hidden;
    z-index: 1;
    position: relative;
    font-size: 3em;
    color: rgba(255,255,255);
    top: 40%;
}

.aleWrapper:hover .aleWord {
    visibility: visible;
}


.aleWrapper:hover {
    cursor: pointer;
    opacity: .75;

}

/* Animation */
.anim-var {
  animation: typewriter-var 2s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-var{
  from{width: 0;}
  to{width: 6em;}
  }

  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  @media screen and (max-width: 1024px) {
      .aleWrapper {
          padding-top: 6%;
      }

      .specialityWord, .aleWord {
          top: 30%;
      }
}
