#contactPic {
    width: 100%;
    height: auto;
    position: relative;
}
#formio {
    z-index: 1;
    position: absolute;
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
}

.anim-contact {
  animation: typewriter-contact 2s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter-contact{
  from{width: 0;}
  to{width: 7em;}
  }
